
@{
    ViewBag.Title = "Completed";
}


<div class=" container">
    <div class="row">
        <div class="col-md-12">
            <h2>Order completed</h2>
            <h4>The products you buy will be loaded as soon as possible</h4>
            <hr />
        </div>
    </div>
</div>


